@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#all {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #E3F2FD; */
    font-family: 'Lato', sans-serif;
}

#error {
    position: absolute;
    z-index: 5000;
}

html {
    background-color: #E3F2FD
}