
.form2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: -1rem; 
    margin-left: -0.3rem; 

    height: clamp(100px, 29rem, 5000px);
    width: clamp(250px, 30vw, 500px);
    padding: 0.5rem; 
}

.form2 > * {
    padding: 0.5rem; 
    width: 95%; 
}

#minitext {
    padding-top: 0 !important; 
    margin-top: 0 !important;
    font-size: 14px;
}

.loginbutton {
    border-radius: 20%/24px;
    margin-top: 0.8rem !important; 
    margin-left: auto;
    margin-right: auto;
    width: 6.5rem; 
}
