@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navbar {
    overflow: hidden;
    background-color: #2B2D42;
    position: fixed;
    top: 0;
    left: 0px; 
    width: 100%;
    z-index: 500;

    display: flex; 
    justify-content: space-between;
}

.scrolling {
    background-color: #2B2D42 !important;
}

.top {
    background-color: #EF233C !important;
}

.navbar button {
    float: right;
    display: block;
    background-color: #E3F2FD;
    color: #1B3B93;
    text-align: center;
    padding: 0.5em 1.5em;
    margin: 0.5em 0.7em ;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px; 
}

/* Change background on mouse-over */
.navbar button:hover {
    color: 1B3B93;
    border-color: #EDF2F4; 
    border: solid; 
    background-color: #2B2D42;
    color: #EDF2F4;
}

/* Main content */
.main {
    margin-top: 30px;
    /* Add a top margin to avoid content overlay */
}

.image {
    margin-left: 0.5rem; 
}