@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar button {
    float: right;
    display: block;
    background-color: #E3F2FD;
    color: #1B3B93;
    text-align: center;
    padding: 0.5em 1.5em;
    margin: 0.5em 0.7em ;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px; 
}

/* Change background on mouse-over */
.navbar button:hover {
    color: 1B3B93;
    border-color: #E3F2FD; 
    border: solid; 
    background-color: 1B3B93;
    color: #E3F2FD;
}

/* Main content */
.main {
    margin-top: 30px;
    /* Add a top margin to avoid content overlay */
}